/public/assets/**
/vendor/bundle/
/vendor/cache/
/config/database.yml
/config/database.staging.yml
/config/database.production.yml
/config/secrets.yml
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp/
/spec/tmp/
/.bundle
.sass-cache/

/frontend/dist
/frontend/tmp
/frontend/node_modules
/frontend/bower_components
/frontend/connect.lock
/frontend/coverage/*
/frontend/*.log