<div id="header" class="container">
  <div class="row">
    <div class="span6">
      <h1>{{#link-to 'posts'}}Blog{{/link-to}}</h1>
    </div>
    <div class="span6">
      <h5 class="align-right"><a href="#/posts/admin">Admin</a></h5>
    </div>
  </div>
</div>

<div id="main" class="container">{{outlet}}</div>