<div class="row">


  <div class="span10">

    <div class="posts">
      <div class="post">
        <h2><a>{{post.title}}</a></h2>
        <h4>
          Published: {{date-format post.date}}
        </h4>
        <p>{{post.body}}</p>
      </div>
    </div>

  </div>


</div>